html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

li,
p {
    font-weight: 400;
}

h1,
h5 {
    font-weight: 700;
}

.p1 {
    font-size: 13px;
}

.icons-section {
    font-size: 60px;
    display: inline-block;
    color: #fff;
    margin-left: 118px;
}

h2 {
    display: inline-block;
    font-weight: 700;
    margin-left: 80px;
}