nav {
    background-color: #000f08;
    width: 1920px;
    height: 99px;
    text-align: left;
    font: normal normal normal 25px/34px Open Sans;
    color: #FFFFFF;
    opacity: 1;
}

ul {
    list-style-type: none;
    padding-top: 30px;
}

li {
    display: inline-block;
    padding-left: 57px;
}

h1 {
    color: #000f08;
    text-align: left;
    font: bold Open Sans;
    font-size: 45px;
    font-style: normal;
    opacity: 1;
    margin-top: 196px;
    margin-left: 418px;
    width: 1085px;
    height: 59px;
}

h2 {
    margin-left: 418px;
    width: 684px;
    height: 43px;
    text-align: left;
    font: bold Open Sans;
    font-style: normal;
    font-size: 40px;
    color: #000F08;
    opacity: 1;
}

section {
    color: #000f08;
    margin-left: 418px;
    font: Open Sans;
    font-size: 25px;
    font-style: normal;
    text-align: justify;
    width: 1085px;
    height: 440px;
}

footer {
    background-color: #000f08;
    width: 1920px;
    height: 200px;
    color: #ffffff;
    text-align: center;
    margin-top: 500px;
}

img {
    width: 1085px;
    height: 565px;
    opacity: 1;
    border-radius: 5px;
    margin-left: 418px;
}